.item-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
    @include for-normal-layout {
        grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    }
}
