.side-bar { 
    background-color: #f4f5f7;
    position: fixed;
    top: 85px;
    right: 0;
    transform: translateX(100%);
    width: 340px;
    height: calc(100vh - 80px);
    border: 1px solid lightgray;
    border-radius: 3px;
    border-top-right-radius: 0px;
    box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
    display: flex;
    flex-direction: column;
    z-index: 30;
    transition: all 0.5s;

    &.open {
        transform: translateX(0%);
    }
}